@import "./scss/variables.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@import "./scss/forms.scss";
@import "./scss/login.scss";
@import "./scss/profile.scss";
.homeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  h2,h1{color: white;}
}