$checkboxSize: 20px;
$firstColor: #e8519e;
$secondColor: #c77ff2;
$checkboxColor: #C87EF0;
$hexDarkGray: #333333;
$hexGray: #999999;
$hexMedGray: #DBDBDB;
$hexLightGray: #E6E6E6;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: 830px 550px;
}
.bg{
  background: linear-gradient(to top,rgba(232, 81, 158, 0.75), rgba(199, 127, 242, 0.75)), url(./img/bg-01.jpg);
  background-size: 120%;
}
.loginContainer{
  margin: 72px 50px 50px 50px;
  h2{
    font-size: 40px;
    text-align: left;
    color: $hexDarkGray;
  }
}
.frm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px 0;
  color: $hexGray;
  .labelBox{
    color: $hexGray;
    font-weight: bold;
  }
  .inputBox{
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    background: none;
    border-bottom: 2px solid $hexMedGray;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: none;
    font-size: 22px;
    font-family: "Poppins";
    color: #333333;
    transition: .3s ease-in-out all;
    &::placeholder{
      font-family: "Poppins";
      color: $hexMedGray;
    }
    &:focus{
      border-bottom: 2px solid #e4343c;
    }
  }
  .agreeText{
    width: 100%;
    position: relative;
    left: 0;
  }
  .midBold{
    color: $hexDarkGray;
  }
  .agreedCheckBox{
    position: relative;
    display: block;
    .agreeCheck{
      & + label{
        display: inline-block;
        position: relative;
        line-height: $checkboxSize;
        padding-left: $checkboxSize + 10;
        font-size: $checkboxSize - 2;
        &::before{
          content: "";
          position: absolute;
          display: block;
          left: 0;
          top: 0;
          background: $hexLightGray;
          width: $checkboxSize;
          height: $checkboxSize;
        }
        &::after{
          content: "";
          position: absolute;
          display: block;
          top: 2px;
          left: 7px;
          width: 5px;
          height: 10px;
          border-right: 2px solid transparent;
          border-bottom: 2px solid transparent;
          transform: rotate(45deg);
        }
      }
      & + label:focus{
        outline: none;
      }
      &:checked{
        & + label{
          &::before{
            background: $hexLightGray;
          }
          &::after{
            border-color: $checkboxColor;
          }
        }
      }
    }
  }
  .loginBtn{
    padding: 0 20px;
    width: 240px;
    height: 50px;
    margin: 50px 0;
    border-radius: 25px;
    background: linear-gradient($secondColor, $firstColor);
    font-size: 18px;
    color: white;
    font-family: "Poppins";
    border: none;
    outline: none;
    transition: .3s ease-in-out;
    &:hover{
      background: linear-gradient($firstColor, $secondColor,);
    }
  }
}
.linkPos{
  position: relative;
  .link{
    position: absolute;
    right: 50px;
    bottom: 110px;
    color: #333333;
    transition: .3s linear;
    &:hover{
      color: $firstColor;
    }
  }
}
.validError{
  color: #e4343c;
}