.loginContainer{
  margin: 72px 50px 50px 50px;
  min-height: 90vh;
  h2{
    font-size: 40px;
    text-align: left;
    color: $medBlack;
  }
}
.loginBtn{
  padding: 0 20px;
  width: 240px;
  height: 50px;
  margin: 50px 0;
  border-radius: 25px;
  background-image: linear-gradient(to left, $firstColor, $secondColor, $firstColor);
  background-size: 200%;
  font-size: 18px;
  color: $white;
  font-family: "Poppins";
  border: none;outline: none;
  transition: .3s ease-in-out;
  &:hover{
    cursor: pointer;
    background-position: right;
  }
}
@media screen and (max-width: 425px){
  .loginContainer{margin: 60px 35px;}
}