$checkboxSize: 16px;
$firstColor: #e8519e;
$secondColor: #c77ff2;
$black: #222;
$medBlack: #333333;
$darkGray: #797876;
$gray: #999999;
$medGray: #DBDBDB;
$profColor1: #002a4f;
$profColor2: #0092ff;
$errorColor: #e4343c;
$white: #fff;