$checkboxSize: 20px;
$firstColor: #e8519e;
$secondColor: #c77ff2;
$hexDarkGray: #333333;
$hexGray: #999999;
$hexMedGray: #DBDBDB;
$hexLightGray: #E6E6E6;
$profileFirstColor: #002a4f;
$profileSecondColor: #0092ff;